.announcement-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 3rem;
  width: 100%;
  background-color: darkblue;
  padding: 0;
  margin: 0;
}

.field-holder {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.announcement-list {
  display: flex;
  margin: 0;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.new {
  background-color: royalblue;
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
}

.new:hover {
  background-color: deepskyblue;
}

.view-now {
  color: white;
  text-underline-offset: 4px;
}
